body {
	margin: 0 0;
}

#container {
	position: relative;

	height: 100vh;
	display: grid;
	/* grid-template-columns: repeat(auto-fill, 128px);
	grid-template-rows: repeat(auto-fill, 128px); */
	grid-template-columns: repeat(16, 128px);
	grid-template-rows: repeat(9, 128px);
	gap: 0px 0px;
}

#silo {
	position: absolute;
	grid-area: 5/3;
	width: 128px;
}

/* create divs then put the tiles in and then put the images */

#tree {
	position: absolute;
	grid-area: 5/12;
	width: 128px;
	top: -50px;

}

#axe {
	position: absolute;
	grid-area: 4/6;
}

#tower {
	position: absolute;
	grid-area: 2/14/4/-3;
}

.floor {
	position: absolute;
	width: 128px;
}

.roof {
	position: absolute;
	width: 128px;
	object-fit: cover;
}