body {
	margin: 0 0;
}

#container {
	position: relative;

	height: 100vh;
	display: grid;
	/* grid-template-columns: repeat(auto-fill, 128px);
	grid-template-rows: repeat(auto-fill, 128px); */
	grid-template-columns: repeat(16, 128px);
	grid-template-rows: repeat(9, 128px);
	gap: 0px 0px;
}

#silo {
	position: absolute;
	grid-area: 5/3;
	width: calc(128px *1.5);
}

/* create divs then put the tiles in and then put the images */

#tree {
	position: absolute;
	grid-area: 5/12;
	width: 128px;
	top: -50px;

}

#axe {
	position: absolute;
	grid-area: 4/6;
}

#tower {
	position: absolute;
	grid-area: 2/14/4/-3;
}

.floor {
	position: absolute;
	width: 128px;
}

.roof {
	position: absolute;
	width: 128px;
	object-fit: cover;
}

.water {
	/* needs to be different than roof because of the transparency */
	position: absolute;
	width: 128px;
	object-fit: cover;
}

#cursor {
	position: absolute;
	width: 128px;
	grid-area: 4/10;
	z-index: 100;
}


#hotbar {
	position: absolute;
	border-left: solid rgb(197, 197, 197);
	border-right: solid rgb(197, 197, 197);
	border-bottom: solid rgb(197, 197, 197);

	z-index: 120;
	background-color: #685262;
	/* outline: #7D636F */
	display: flex;
	/* width: 25vw; */
	padding: 0.4vw 0.3vw;
	gap: 1vw;
	margin-left: 768px;
	justify-content: space-around;

	border-radius: 0 0 0.4vw 0.4vw;
}

#hotbar div {
	width: 50px;
	height: 50px;
	border-width: 0.2vw;
	border-style: solid;
	border-color: #7D636F;
	background-color: #685262;
}

#sprout-bar {
	width: 50px;
	height: 50px;
}

#dirt-bar {
	width: 48px;
	height: 46px;
	object-fit: cover;
	object-position: -89px;
}

#can-bar {
	width: 50px;
	height: 50px;
}

#crops-bar {
	width: 50px;
	height: 50px;

	object-fit: cover;
	object-position: -4px;
}